.header-main {
    position: static;
    width:100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 0%;

}
body{
    
    margin: 0;
    padding: 0;

}
.div0 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./img/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.div0 h1{
    font-size: 38px;
    color: white;
    border-bottom: 3px solid yellow;
    margin-top: 10%;
}

.div0 p {
    font-size: 20px;
    color: white;
    margin: 0; 
    width: 50%;
    text-align: center;
}

.div0 img {
    width: auto;
    height: auto;
}

.div1 {
    background-color: black;
    text-align: center;
    margin-top:5% ;  
}

.div1 h4 {
    margin: 0;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 9%;
    margin-bottom: 5%;
}
.socialMedia h1{
   padding-left: 10%;
   margin-bottom: 10%;
}


#btata {
    flex-direction: row-reverse;
}

.socialMedia img {
    width: 100px;
}

h4{
    color: white;
    margin-top: 150px;
    margin-right: 500px;
}

a {
    cursor: pointer;
}

.navbar {
    color: white;
    height: 100%;
}

.navbar li {
    display: inline;
    margin-right: 80px;

}

.navbar a {
    line-height: 65px;
}

.logo {
    color: white;
    line-height: 65px;
    margin-right: 400px;
    margin-left: 20px;
}

.text{
    font-size: 30px;
    color: rgb(255, 32, 32);
    line-height: 20px;
    margin-top: 100px;
}
.rec{
    width: 100%;
    height: 200vh;
    background-color: black;
    position: relative;
    bottom: 580px;
}

body {
    background-color: black;
}

.container2 {
    display: flex;
    justify-content: space-around;
}

.left {
    width: 500px;
}

.container2 p {
    width: auto;
}

.container2 h1 {
    margin-bottom: 30px;
}

.container2 img {
    margin-top: 50px;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-image: url("img/back1.jpg");
    background-size: cover;
    height: 100vh;
    align-items: center;
}
.socialMedia1{
    display: flex;
}
.footer h1{
    font-size: 60px;
    color: aliceblue;
    border-bottom: 3px solid yellow ;
}
.socialMedia2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-image: url("img/back1.jpg");
    background-size: cover;
    height: 100vh;
    align-items: center;
}
.socialMedia2 h1{
    font-size: 60px;
    color: aliceblue;
    border-bottom: 3px solid yellow ;

}
.cont1{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    gap: 20%;
    background-color: black;
    z-index: 1;
    position: relative;
    bottom: 480px;
}
.cont1 div{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 20px;
    margin: 5%;
}
.cont1 h1{
    font-size: 60px;
    border-bottom: 5px solid yellow;
    width: inherit;
    margin-bottom: 10%;
}
.z1{
   margin-left: 13%;
}
.men {
    color: aliceblue;
    text-align: center;
    font-size: 60px;
    border-bottom: 5px solid yellow;
    width: 30%;
    margin-left:33%;
}
.order1{
    display: flex;
    flex-direction:row;
    width: 70%;
    gap: 20%;
    margin-left: 5%;
    margin-top: 15%;
}
.order1 div{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
.order1 h1{
    font-size: 60px;
}
.order1 h4{
    font-size: 30px;
    margin-top: 5%;
}
.order1 button{
    display: flex;
    width: 129px;
    height: 54px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    outline: 1px solid blue;
    text-align: center;
    margin-top: 5%;
    color: blue;
}
.para{
    margin-top: 5%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.para h1{
    margin-right: 12%;
    border-bottom:5px solid yellow ;
    font-size: 40px;
    margin-bottom: 5%;
    margin-left: 10%;
    width: 15%;
    padding-left: 2%;
}
.para p{
    width: 50%;
    font-size: 18px;
}
.imcon{
    display: flex;
    margin-left: 10%;
    gap: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.div3{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./img/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 1%;
}
.div3 h1{
    font-size: 38px;
    color: white;
    border-bottom: 3px solid yellow;
    margin-top: 10%;
}
.div3 p{
    font-size: 20px;
    color: white;
    margin: 0; 
    width: 50%;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}
input{
    color:rgb(0, 0, 0);
    background-color: rgb(134, 138, 142);
    padding: 1% 5% ;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 10px;
    text-align: center;
  
}
textarea{
    background-color: rgb(134, 138, 142);
    padding: 3% 3% ;
    border-radius: 10px;
    text-align: center;
    margin-top: 1%;
    
}
.b{
    padding: 1% 3%;
    color: black;
    cursor: pointer;
}
.contact{
    text-align: center;
    font-size: 60px;
    color: white;
    border-bottom:2px solid yellow ;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 3%;
}